@inherits LayoutComponentBase

<PageTitle>Demo_TabsTest</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
        
        <article class="content px-4">
            <Demo_TabsTest.Pages.PrintTime text="@para_text" />
            <BootstrapBlazor.Components.Button OnClick="OnTabClick" Text="刷新" />

				<BootstrapBlazor.Components.Tab ClickTabToNavigation="true"  ShowExtendButtons="true"  ShowClose="true" 
                 Body="@Body">


	@*		 	<BootstrapBlazor.Components.TabItem >
					<HeaderTemplate>
						<BootstrapBlazor.Components.Button OnClick="OnTabClick">测试</BootstrapBlazor.Components.Button>
					</HeaderTemplate>
				</BootstrapBlazor.Components.TabItem>*@


				</BootstrapBlazor.Components.Tab>
        </article>
    </main>
</div>
